.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px; /* Espaciado entre los divs */
    padding: 10px;
    z-index: 10;
    background-color: white;
    border-radius: 8px;
}

.search-btn{
    margin-bottom:13px;
    margin-left: 3px;
}

.item {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: relative;
}

.bottom-right {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 8px;
   
}