section {
    display: flex;
    align-items: center;
    background-image: url('/assets/images/novedades/header.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 76px;
    height: 60vh;
    max-height: 321px;

    h1 {
        color: #fff;
        font-size: 64px;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        width: 850px;
    }
}

@media (max-width: 768px) {
    section {
            max-height: 260px;
            h1 {
                font-size: 50px;
                width: 100%;
                margin-left: 10%;
            }
    }
}