section {
    display: flex;
    flex-direction: column;
}

#TitulosContainerOverflow {
    height: 140px;
    background-color: #005BB2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#TitulosContainer {
    overflow: hidden;
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;

    h3 {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        margin: 0;
        padding: 0 16px;
        transform: translate(-50%, 100%);
        font-size: 25px;
        color: #fff;
        font-weight: 300;
        line-height: 40px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        animation: slideTitles 10s ease-in-out infinite;
    }

    h3:first-child {
        animation-delay: 0s;
    }

    h3:last-child {
        animation-delay: 5s;
    }
}

@keyframes slideTitles {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    10%,
    40% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

#beneficiosContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 80px;
}

#celularContainer {
    justify-self: end;
    border: 1px solid #005BB2;
    padding: 8px;
    padding-top: 40px;
    border-radius: 24px;
    margin-right: 15%;
    height: fit-content;
}


#celularContainer img {
    margin: 0 auto;
    display: block;
}

#textoContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 550px;

    h4 {
        font-size: 24px;
        width: 70%;
        font-weight: 400;
        color: #404040;
        line-height: 1.4;
    }

    .articuloContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 80%;

        p {
            &:first-child {
                color: #005BB2;
                font-size: 24px;
                font-weight: 400;
            }

            &:last-child {
                font-weight: 300;
                line-height: 1.7;
            }
        }
    }
}

@media (max-width: 768px) {

    #TitulosContainer {
        h3 {
            font-size: 12px;
        }
    }

    #celularContainer {
        margin-right: 0;
    }

    #beneficiosContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #textoContainer {
        align-items: center;
        text-align: center;
        width: 100%;
        h4 {
            width: 90%;
        }
        .articuloContainer {
            width: 100%;
        }
    }
}