section {
    background-color: #003A70;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    h2 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 32px;
        color: #fff;
    }
}

section>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    article {
        width: 312px;
        background-color: #02305B;
        div {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            p {
                color: #fff;
                font-family: 'Poppins';
                &:first-child {
                    font-weight: 500;
                    font-size: 18px;
                }
                &:nth-child(2) {
                    font-weight: 300;
                    font-size: 16px;
                    color: #fff;
                }
            }
            a {
                color: #005BB2;
                font-family: 'Poppins';
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1024px) {
    section>div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    section {
        h2 {
            text-align: center;
        }
    }
    section>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}