.header-listado{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 2rem;
    
}
.header-listado div:first-child{
    /*border: solid 1px red;*/
    margin-top: 0.55rem;
}
.pl-2{
    padding-left: 2rem;
}
.px-2{
    padding: 0rem 2rem;
}

.columna-limitada {
  max-width: 250px;       /* el ancho máximo que quieras */
  overflow: hidden;       /* oculta el texto que sobra */
  text-overflow: ellipsis; /* agrega los ... */
  white-space: nowrap;    /* evita que se parta en varias líneas */
}

.px-3{
 padding: 0rem 3rem;
}
