section {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    h3 {
        font-weight: 400;
        font-size: 32px;
        color: #404040;
    }
    div {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        gap: 8px;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    section {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 80px;
            img {
                width: 127px;
            }
        }
    }
}