
section {
    width: 100%;
    height: 100%;
    margin-top: 76px;
    video {
        position: absolute;
        width: 100%;
        z-index: -1;
        height: 100vh;
    max-height: 600px;
        object-fit: cover;
    }
    p {
        width: 100%;
        padding: 80px 40px;
        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 500;
        text-align: center;
        line-height: 32px;
        letter-spacing: 1px;
    }

}

section>div {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    background-color: #ffffff1a;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    h1 {
        font-size: 69px;
        line-height: 1.2;
        color: #fff;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    }
    div {
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 48px;
        margin-bottom: 24px;
        img {
            height: 70px;
        }
    }
}

@media (max-width: 1024px) {
    section {
        video {
            max-height: 100vh;
            height: 100vh;
        }
    }
    section>div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
            max-height: 100vh;
            height: 100vh;
        gap: 120px;
        h1 {
            font-size: 56px;
            text-align: center;
        }
        div {
            align-self: center;
            justify-content: center;
            display: grid;
            padding: 20px;
            grid-template-columns: repeat(4, 1fr);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}