#containerGeneral {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

    h2 {
        color: #404040;
        font-size: 40px;
        font-family: "Avenir";
        margin-bottom: 48px;
    }
}

#lineaTemporalContainer {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: auto;
    width: 100%;
    justify-content: center;
}

.cardsContainer1 {
    display: flex;
    flex-direction: column;
    border-right: 3px solid #3d4f9e;
    padding-top: 32px;
    padding-bottom: 64px;
    position: relative;

    #cardsContainer1guion {
        position: absolute;
        top: -21px;
        right: -13px;
        font-size: 40px;
        color: #3d4f9e;
    }
    #cardsContainer1pico {
        position: absolute;
        bottom: -18px;
        right: -12px;
        font-size: 40px;
        color: #3d4f9e;
        rotate: 90deg;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 40px;
        padding-right: 40px;
        position: relative;

        span {
            font-weight: 600;
        }

        p {
            font-weight: 300;
            line-height: 1.4;
        }

        img {
            position: absolute;
            background-color: #3d4f9e;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            object-fit: contain;
            display: block;
            overflow: hidden;
            clip-path: circle(50%);
            top: -24px;
            right: 400px;
            padding: 8px;
        }

        .line {
            width: 420px;
            height: 1px;
            border: 1px solid #3d4f9e;
            border-style: dashed;
            position: absolute;
            right: 0;
            top: 0;
        }

        .point {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #3d4f9e;
            position: absolute;
            top: -4px;
            right: -7px;
        }

        &:nth-child(3) {
            padding-bottom: 80px;
        }
    }
}

.cardsContainer2 {
    display: flex;
    flex-direction: column;
    padding-top: 162px;

    article {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        position: relative;

        span {
            font-weight: 600;
        }

        p {
            font-weight: 300;
            line-height: 1.4;
        }

        img {
            position: absolute;
            background-color: #3d4f9e;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            display: block;
            overflow: hidden;
            clip-path: circle(50%);
            top: -24px;
            left: 400px;
            padding: 8px;
            object-fit: contain;
        }

        .line {
            width: 420px;
            height: 1px;
            border: 1px solid #3d4f9e;
            border-style: dashed;
            position: absolute;
            left: 0;
            top: 0;
        }

        .point {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #3d4f9e;
            position: absolute;
            top: -4px;
            left: -6px;
        }

        &:nth-child(1) {
            padding-bottom: 124px;
        }
    }
}

#consecuenciaText {
    font-weight: 300;
    line-height: 1.4;
    max-width: 900px;
    text-align: center;
    color: #fff;
    background-color: #3d4f9e;
    padding: 40px 80px;
    font-size: 20px;
    margin-top: 48px;
    text-shadow: 1px 1px 10px #000;
}

#hoyText {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    p {
        font-weight: 400;
        line-height: 1.4;
        font-size: 20px;
    }
    span {
        color: #005cb23b;
        font-size: 160px;
        justify-self: center;
        top: 10px;
        right: 0;
    }
}
